.btn {
	min-width: 200px;
	border-radius: 8px;
	border-style: none;
	box-sizing: border-box;
	color: #ffffff;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-weight: 500;
	height: 40px;
	line-height: 20px;
	list-style: none;
	margin: 0;
	outline: none;
	padding: 10px 16px;
	position: relative;
	text-align: center;
	text-decoration: none;
	transition: color 100ms;
	vertical-align: baseline;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

.green {
	background-color: #28c76f;
}
.red {
	background-color: #ea5455;
}
.btn.green:hover {
	background-color: #21ad60;
}
.btn.red:hover {
	background-color: #cb4848;
}
