.container {
	height: 100vh;
	background-color: #0093e9;
	background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}

.column {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
